<div class="contentRow-title">
	<xf:if is="$content.action == 'comment'">
		{{ phrase('j_m_news_feed_report_comment_comment', {
			'username': username_link($user, false, {'defaultname': $newsFeed.username}),
			'comment_attributes': 'href="' . link('reports/comments', $content) . '"',
			'report': $content.Report.title
		}) }}
	<xf:elseif is="$content.action == 'open'" />
		{{ phrase('j_m_news_feed_report_comment_open', {
			'username': username_link($user, false, {'defaultname': $newsFeed.username}),
			'comment_attributes': 'href="' . link('reports/comments', $content) . '"',
			'report': $content.Report.title
		}) }}
	<xf:elseif is="$content.action == 'assign'" />
		{{ phrase('j_m_news_feed_report_comment_assign', {
			'username': username_link($user, false, {'defaultname': $newsFeed.username}),
			'comment_attributes': 'href="' . link('reports/comments', $content) . '"',
			'report': $content.Report.title
		}) }}
	<xf:elseif is="$content.action == 'resolve'" />
		{{ phrase('j_m_news_feed_report_comment_resolve', {
			'username': username_link($user, false, {'defaultname': $newsFeed.username}),
			'comment_attributes': 'href="' . link('reports/comments', $content) . '"',
			'report': $content.Report.title
		}) }}
	<xf:elseif is="$content.action == 'reject'" />
		{{ phrase('j_m_news_feed_report_comment_reject', {
			'username': username_link($user, false, {'defaultname': $newsFeed.username}),
			'comment_attributes': 'href="' . link('reports/comments', $content) . '"',
			'report': $content.Report.title
		}) }}
	</xf:if>
</div>

<div class="contentRow-snippet">
	{{ snippet($content.message, $xf.options.newsFeedMessageSnippetLength, {'stripQuote': true}) }}
</div>

<div class="contentRow-minor">
	<xf:date time="{$newsFeed.event_date}" />
</div>
